<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title>XXX Todo sample</title>

  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/screen.css">
</head>
<body>
<div class="container">
  <div id="app">
    <h1>TODO - XXX</h1>
    <hr>
    <form class="form">
      <label for="todo-input">增加待办事项：</label>
      <div class="input-group">
        <input type="text" id="todo-input" class="form-control" name="todo">
        <div class="input-group-btn">
          <button class="btn btn-primary">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </form>
    <ul class="list-group">
      <li id="template" class="list-group-item form-group">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Sample</span>
        </label>
      </li>
    </ul>
    <hr>
    <p class="counter"></p>
  </div>
</div>

</body>
</html>