#app
  background-color #F0F0F0
  padding 1em

  form
    padding-bottom 1.5em

  ul
    padding-left 0

    li
      list-style none

      &.done
        text-decoration line-through

.counter
  text-align right